version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mailtracex_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: mailtracex
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: mailtracex_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
